* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

.max-width-wrapper {
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  max-width: 800px;
}

.intro-chunk {
  padding: 96px 24px 64px 24px;
}

h1 {
  font-weight: 800;
  font-size: 32px;
  line-height: 120%;
}

p {
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  /* or 30px */

  letter-spacing: -0.005em;

  color: #000000;
}

strong {
  color: #009966;
}

header {
  border-bottom: 10px solid #999999;
}

main {
  padding: 72px 0 58px 0;
  background-color: #666666;
}

.card {
  background-color: #ffffff;
  padding: 8px 24px 24px 24px;
  border-bottom: 8px solid #999999;
}
.card p {
  font-weight: 500;
}

h2 {
  margin-top: 0;
  margin-bottom: 16px;
  margin-left: -32px;
  background-color: #ffbf00;
  padding: 16px 32px;
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 120%;
  border-bottom: 8px solid #cc9900;
}
p {
  margin: 0;
}
p + p {
  margin-top: 16px;
}
